<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col-3">
      <mat-expansion-panel style="background-color:  #192A56; max-width: 100%">
      <mat-expansion-panel-header >
        <mat-panel-title style="color: azure;">
          <mat-icon style="margin-top: -2.2px; margin-right: 5px;">add_circle</mat-icon> Enroll in a new Course
        </mat-panel-title>
      </mat-expansion-panel-header>

      <form [formGroup]="newCourseForm1">
        <mat-form-field>
          <mat-label style="color: white">Course-Id</mat-label>
          <label>
            <input formControlName="courseKey" matInput style="color: white">
          </label>
          <mat-error *ngIf="newCourseForm1.get('courseKey').hasError('required')">please Enter a key</mat-error>
        </mat-form-field>
        <button mat-button style="color: white" (click)="onRequestEnroll()">Enroll Now</button>
      </form>
    </mat-expansion-panel>
    </div>
    <div class="col"></div>
  </div>
</div>
