<app-student-course-page-header-big></app-student-course-page-header-big>
<!--<H1 style="text-align: center">Your Classmates</H1>-->
<!--<table mat-table [dataSource]="mates" class="mat-elevation-z8" style="margin-left: 10%; width: 80%; margin-top: 3%;" >-->
<!--  <ng-container matColumnDef="Name">-->
<!--    <th mat-header-cell *matHeaderCellDef> Name </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="Phone">-->
<!--    <th mat-header-cell *matHeaderCellDef> Phone </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>-->
<!--  </ng-container>-->
<!--  <ng-container matColumnDef="Email">-->
<!--    <th mat-header-cell *matHeaderCellDef> Email </th>-->
<!--    <td mat-cell *matCellDef="let element"> {{element.email}} </td>-->
<!--  </ng-container>-->
<!--  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>--><br><br>
<div class="container-fluid">
<div *ngFor="let mate of mates,let i = index">
    <div class='row' *ngIf="i % 3 === 0">
      <div class="col-4" *ngIf="i  < mates.length">
        <mat-card [ngClass]="{'bgcolor1':(this.colorNum + 1) % 6 == 1, 'bgcolor2':(this.colorNum+1) % 6 == 2, 'bgcolor3':(this.colorNum+1) % 6 == 3, 'bgcolor4':(this.colorNum+1) % 6 == 4,'bgcolor5':(this.colorNum+1) % 6 == 5,'bgcolor6':(this.colorNum+1) % 6 == 0}">
        <mat-card-header>
          <img mat-card-avatar *ngIf="mate.imageUrl" src="{{mate.imageUrl}}" >
          <img mat-card-avatar src="../../../assets/img/avatar.png" *ngIf="!mate.imageUrl">
          <mat-card-title>{{mate.name}}</mat-card-title>
          <mat-card-subtitle>{{mate.user_role}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
         <h3 *ngIf="mate.phone">Phone: {{mate.phone}}</h3>
          <h3>Email: {{mate.email}}</h3>
        </mat-card-content>
      </mat-card>
      </div>

      <div class="col-4" *ngIf="i + 1 < mates.length">
        <mat-card [ngClass]="{'bgcolor1':(this.colorNum + 1) % 6 == 1, 'bgcolor2':(this.colorNum+1) % 6 == 2, 'bgcolor3':(this.colorNum+1) % 6 == 3, 'bgcolor4':(this.colorNum+1) % 6 == 4,'bgcolor5':(this.colorNum+1) % 6 == 5,'bgcolor6':(this.colorNum+1) % 6 == 0}">
        <mat-card-header>
          <img mat-card-avatar *ngIf="mates[i+1].imageUrl" src="{{mates[i+1].imageUrl}}" >
          <img mat-card-avatar src="../../../assets/img/avatar.png" *ngIf="!mates[i+1].imageUrl">
          <mat-card-title>{{mates[i+1].name}}</mat-card-title>
          <mat-card-subtitle>{{mates[i+1].user_role}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3 *ngIf="mates[i+1].phone">Phone: {{mates[i+1].phone}}</h3>
          <h3>Email: {{mates[i+1].email}}</h3>
        </mat-card-content>
      </mat-card></div>

      <div class="col-4" *ngIf="i + 2 < mates.length"><mat-card [ngClass]="{'bgcolor1':(this.colorNum + 1) % 6 == 1, 'bgcolor2':(this.colorNum+1) % 6 == 2, 'bgcolor3':(this.colorNum+1) % 6 == 3, 'bgcolor4':(this.colorNum+1) % 6 == 4,'bgcolor5':(this.colorNum+1) % 6 == 5,'bgcolor6':(this.colorNum+1) % 6 == 0}">
        <mat-card-header>
          <img mat-card-avatar *ngIf="mates[i+2].imageUrl" src="{{mates[i+2].imageUrl}}" >
          <img mat-card-avatar src="../../../assets/img/avatar.png" *ngIf="!mates[i+2].imageUrl">
          <mat-card-title>{{mates[i+2].name}}</mat-card-title>
          <mat-card-subtitle>{{mates[i+2].user_role}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3 *ngIf="mates[i+2].phone">Phone: {{mates[i+2].phone}}</h3>
          <h3>Email: {{mates[i+2].email}}</h3>
        </mat-card-content>
      </mat-card></div>
      </div><br>
    </div>
  </div>

