.bgcolor1{
  background-color: darkslateblue;
  height: 140px;
}
.bgcolor2{
  background-color: rgb(77, 109, 44);
  height: 140px;
}
.bgcolor4{
  background-color: rgb(153,0,76);
  height: 140px;
}
.bgcolor5{
  background-color: #ec8f24;
  height: 140px;
}
.bgcolor3{
  background-color:rgb(255,67,17);
  height: 140px;
}
.bgcolor6{
  /* 7, 101, 94, 0.75 */
  background-color: rgb(7,101,94);
  width: 80%;
}


.mat-header-cell {
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}

