html, body { height: 100%;
  /*background-image:url("./assets/img/poster.jpg") ;*/
  /*background-size: 100% 100%;*/
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.error-SnackBar {
  background: #940000;
  color: azure;
  font-size: large;
}
