<br>
<br>
<section id="hero">

  <div class="container">
    <div class="row d-flex align-items-center">
      <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
        <h1 style="color: azure">Your new digital learning experience</h1>
        <br>
        <h2 style="color: lightgrey">We at EduCatalyst are dedicated to become a catalyst for your education</h2>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <img src="../../../assets/img/hero.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>

</section>
