<br>

<section id="faq" class="faq section-bg" style="color: #192A56">
  <div class="container-fluid">

    <div class="section-title">
      <h1 data-aos="fade-in" style="text-align: center; color: #192A56">Frequently Asked Questions</h1>
<!--      <p data-aos="fade-in">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
    </div>

    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up">
      <div class="col-lg-5">
        <mat-icon>live_help</mat-icon>
        How is this project different from Moodle or Google Classroom?
      </div>
      <div class="col-lg-7">
        <p>
          We have taken a lot of inspiration from many such projects but we still believe that there is lack of an platform which p>
      </div>
    </div><!-- End F.A.Q Item-->

    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-5">
        <mat-icon>live_help</mat-icon>
        Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
      </div>
      <div class="col-lg-7">
        <p>
          Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim.
        </p>
      </div>
    </div><!-- End F.A.Q Item-->

    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
      <div class="col-lg-5">
        <mat-icon>live_help</mat-icon>
        Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
      </div>
      <div class="col-lg-7">
        <p>
          Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus.
        </p>
      </div>
    </div><!-- End F.A.Q Item-->

    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
      <div class="col-lg-5">
        <mat-icon>live_help</mat-icon>
        Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
      </div>
      <div class="col-lg-7">
        <p>
          Aperiam itaque sit optio et deleniti eos nihil quidem cumque. Voluptas dolorum accusantium sunt sit enim. Provident consequuntur quam aut reiciendis qui rerum dolorem sit odio. Repellat assumenda soluta sunt pariatur error doloribus fuga.
        </p>
      </div>
    </div><!-- End F.A.Q Item-->

    <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
      <div class="col-lg-5">
        <mat-icon>live_help</mat-icon>
        Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
      </div>
      <div class="col-lg-7">
        <p>
          Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
        </p>
      </div>
    </div><!-- End F.A.Q Item-->

  </div>
</section>
