<!--<script src="angular.min.js"></script>-->
<!--&lt;!&ndash; shim is needed to support non-HTML5 FormData browsers (IE8-9)&ndash;&gt;-->
<!--<script src="ng-file-upload-shim.min.js"></script>-->
<!--<script src="ng-file-upload.min.js"></script>-->

<div class="container-fluid">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-8">
      <br>
      <mat-card style="width:100%; height: 660px; overflow:  auto">
        <mat-card-title style="text-align: center">
         Course Assignments
        </mat-card-title>
        <mat-tab-group>
          <mat-tab label="Pending Assignments">
            <div *ngIf="PendingAssignments.length === 0">
              <img src="../../../assets/img/noPending.png" style="margin-top: 18%;margin-left: 43%;height: 80px">
              <h3 style="text-align: center; color: silver">ALL DONE !! Nothing pending</h3>
            </div>
            <div *ngFor="let assignment of PendingAssignments">
              <mat-card style="" [ngClass]="{'bgcolor1':(this.colorNum + 1) % 6 == 1, 'bgcolor2':(this.colorNum+1) % 6 == 2, 'bgcolor3':(this.colorNum+1) % 6 == 3, 'bgcolor4':(this.colorNum+1) % 6 == 4,'bgcolor5':(this.colorNum+1) % 6 == 5,'bgcolor6':(this.colorNum+1) % 6 == 0}">
                <mat-card-header>
                  <img src="../../../assets/img/assignment.png" alt="ds" mat-card-avatar>
                  <mat-card-title>{{assignment.tittle}}</mat-card-title>
                  <mat-card-subtitle>Opened-On: {{assignment.dateOpened | date}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p style="text-align: justify; font-size: larger">
                    {{assignment.assignmentDescription}}
                  </p>
                  <p>
                    Max Points : {{assignment.maxPoints}}
                  </p>
                  <p style="color: silver; font-size: medium" *ngIf="assignment.canSubmit && !(assignment.lessThan1Day)">
                    Submission-DeadLine:
                    {{assignment.submissionDeadline | date:"fullDate"}}
                    {{assignment.submissionDeadline | date:"shortTime"}}
                  </p>
                  <p style="color: silver; font-size: medium" *ngIf="assignment.canSubmit && (assignment.lessThan1Day)">
                    Time-Remaining:
                    <countdown [config]="{leftTime: assignment.secondsRemaining}"></countdown>
                  </p>
                </mat-card-content>
                <button mat-button (click)="assignment.viewSubmisson = !assignment.viewSubmisson">
                  <span *ngIf="!assignment.viewSubmisson && assignment.canSubmit">
                    Submit Assignment
                  </span>
                  <span *ngIf="assignment.viewSubmisson">
                    Cancel
                  </span>
                </button>
                <div *ngIf="assignment.viewSubmisson">
                  <form  [formGroup]="AssignmentSubmissonForms.get(assignment.id)">
                    <mat-form-field style="width: 100%">
                      <mat-label>Your Response</mat-label>
                      <textarea placeholder="Write the responce over here if are just submitting files please describe them here" formControlName="details" matInput>
                      </textarea>
                      <mat-error *ngIf="AssignmentSubmissonForms.get(assignment.id).get('details').hasError('required')">
                        Response is required.
                      </mat-error>
                    </mat-form-field>
                    <mat-card style="background-color: rgba(255,255,255,0.3)">
                      <mat-file-upload style="color: white"
                                       [labelText]="'Select your assignment files. Use ctrl to choose multiple files at once'"
                                       [selectButtonText]="'Choose File(s)'"
                                       [selectFilesButtonType]="button"
                                       [uploadButtonText]="'Upload'"
                                       [uploadButtonType]="button"
                                       [allowMultipleFiles]="true"
                                       [showUploadButton]="true"
                                       [customSvgIcon]="'close_custom'"
                                       [acceptedTypes]="' .class, .cpp , .java, .js, .ts, .pdf, .xls, .ppt, .pptx , .pptx , .key, .c, .png, .jpg, .jpeg , .rar, .xml, .php,.html,.pdf, .cd, .doc,.py '"
                                       (uploadClicked)="onUploadClicked($event, assignment.id)"
                                       (selectedFilesChanged)="onSelectedFilesChanged($event, assignment.id)"
                      >
                      </mat-file-upload>
                    </mat-card><br>
                    <button (click)="onRequestSubmitAssignment(assignment.id)" [disabled]="this.AssignmentSubmissonForms.get(assignment.id).invalid" mat-flat-button style="width: 100%;" color="accent">Submit Assignment</button>
                  </form>

                </div>
                <mat-card style="background-color: rgba(255,255,255,0.5); width: 50%; margin-left: 25%; color: red" *ngIf="assignment.secondsRemaining < 0">
                  <img src="../../../assets/img/sad.png" style="width: 60px; margin-left: 40%"><br>
                 <h3 style="text-align: center"> Unfortunately you are too late to make a submission.</h3>
                </mat-card>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="Submitted Assignments">
            <div *ngFor="let assignment of SubmittedAssignments">
              <mat-card style="" [ngClass]="{'bgcolor1':(this.colorNum + 1) % 6 == 1, 'bgcolor2':(this.colorNum+1) % 6 == 2, 'bgcolor3':(this.colorNum+1) % 6 == 3, 'bgcolor4':(this.colorNum+1) % 6 == 4,'bgcolor5':(this.colorNum+1) % 6 == 5,'bgcolor6':(this.colorNum+1) % 6 == 0}">
                <mat-card-header>
                  <img src="../../../assets/img/assignment.png" alt="ds" mat-card-avatar>
                  <mat-card-title>{{assignment.tittle}}</mat-card-title>
                  <mat-card-subtitle>Opened-On: {{assignment.dateOpened | date}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p style="text-align: justify; font-size: larger">
                    {{assignment.assignmentDescription}}
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
    <div class="col"></div>
  </div>
</div>
