<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  

  <body style="background-color: #192A56;">
    <!-- <h2 style="text-align: center; color:white; font-family: cursive;">Welcome TO</h1> -->
    <img src="http://localhost:3000/logo.png" style="height: 85px; margin-left: 17%">
    <br>
    <img src="http://localhost:3000/stop.png" style="height: 205px;margin-left: 30%">
    <br> 
    <br>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">STOP! STOP!</h4>
        <p>
           The email accocieted with this profile is already in use an with another Educatalyst account.             
        </p>
        <hr>
        <p class="mb-0">Try to login in with diffrent method</p>
      </div>
      
</body>
</html>