.bgcolor1{
  background-color: #2b005c;
}
.bgcolor2{
  background-color: darkgreen;
}
.example-tree-invisible {
  display: none;
}


.bgcolor4{
  background-color: #99004c;
}

.bgcolor5{
  background-color: #b36522;
}
.bgcolor3{
  background-color: #e84118;
}

.bgcolor6{
  background-color: #07655e;
}
